<div class="container">
  <div class="row new-form-user-prod">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1>Modifier <%= @user_product.product.name %></h1>

      <%= simple_form_for @user_product do |f| %>
      <%= f.input :place %>
      <%= f.input :purchase_date, as: :string, required: false, input_html: {class: "datepicker-purchase"} %>
      <%= f.input :peremption_date, as: :string, required: false, input_html: {class: "datepicker-peremption"} %>
      <%= f.button :submit, class: "btn-frigo" %>
      <% end %>

      <%= link_to "Retour au frigo", user_products_path, class: "btn btn-frigo" %>

    </div>
  </div>
</div>
</div>
