<br>
<br>
<br>

<div class="container">


<h1>Buongiorno! </h1>
<h3>Voici les aliments du dernier email que tu nous as forwardé !</h3>

<p>Pour rajouter automatiquement ta dernière liste de course online, forward ton email
récapitulatif de ta commande à l'adresse suivante : </p>
<p>f4b95b1aae9794804844ce5fbf32a11d@inbound.postmarkapp.com</p>

<p><%= link_to "Retour au frigo", user_products_path %></p>


<p>Date d'envoi du mail : <%= @email_date %></p>
<p>Email from : <%= @email_from %></p>
<p>User email Frigoricetta : <%= @email_user %></p>

<% if !@email_content.nil? %>
  <ul>
      <% @email_content.each do |user_product| %>
      <li><%= user_product %></li>
    <% end %>
  </ul>
  <div>
    <%= link_to "Confirmed ?", user_products_path, class:"btn btn-lg btn-frigo" %>
  </div>
  <div>
    <%= @hash_food_category %>
  </div>
<% end %>

</div>
