<h1>Hello</h1>

<p>Date d'envoi du mail : <%= @email_date %></p>
<p>Email from : <%= @email_from %></p>
<p>User email Frigoricetta : <%= @email_user %></p>

<% if !@email_content.nil? %>
  <ul>
      <% @email_content.each do |user_product| %>
      <li><%= user_product %></li>
    <% end %>
  </ul>

  <%= @hash_food_category %>
<% end %>
