<div class="wrapper-index">
  <%= render "shared/side_navbar" %>
  <div class="demo">

    <div class="container email-container text-center">

      <div class="email-message">
        <% if @email_content.nil? %>
          <div class="empty-mail-logo"><i class="far fa-envelope-open"></i></div>
          <div class="empty-mail-message">
            <p>Pour rajouter automatiquement ta dernière liste de course online, forward ton email
          récapitulatif de ta commande à l'adresse suivante : <strong>monfrigo@frigoricetta.com</strong></p>
          </div>
        <% else %>
          <div data-user-product-id>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h4>Voici les aliments du dernier email que tu nous as forwardé !</h4>
                <p>Date d'envoi du mail : <%= @email_date %></p>
                <p>Email en provenance de : <%= @email_from %></p>
                <p><%= @email_content.length %> produits</p>
                <h5><%= link_to "Rangez les courses ?", create_from_email_path, class:"btn btn-lg btn-primary btn-frigo-index" %></h5>
              </div>
              <br>
              <br>
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <% @email_content.each do |user_product| %>
                <div class="card-email">
                    <h4><%= user_product %></h4>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
