
<div class="container index-container text-center">
  <div data-user-product-id>

<br>
<br>

<h2>Buongiorno! </h2>



    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

  <% if !@email_content.nil? %>
    <h>Pour rajouter automatiquement ta dernière liste de course online, forward ton email
    récapitulatif de ta commande à l'adresse suivante : f4b95b1aae9794804844ce5fbf32a11d@inbound.postmarkapp.com</p>
  <% else %>
    <p>Voici les aliments du dernier email que tu nous as forwardé !</p>
  <% end %>
        <p>Date d'envoi du mail : <%= @email_date %></p>
        <p>Email en provenance de : <%= @email_from %></p>
        <p>Utilisateur Frigoricetta : <%= @email_user %></p>

    </div>

      <h5><%= link_to "Rangez les courses ?", user_products_path, class:"btn btn-lg btn-primary btn-frigo" %></h5>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <% if !@email_content.nil? %>

          <% @email_content.each do |user_product| %>


            <div class="card">
            <h4><%= user_product %></h4>
              <div class="card-menu">
                <%= link_to user_product_path(user_product), method: :patch do %>
                <%= icon("fas", 'edit') %>
                <% end %>
                <%= link_to user_product_path(user_product), method: :delete, remote: true do %>
                <%= icon("fas", 'trash-alt') %>
                <% end %>
              </div>
            </div>

          <% end %>
        <% end %>

        <div>
          <%= @hash_food_category %>
        </div>

    </div>
  </div>
