<div class="wrapper-mail">
  <%= render "shared/side_navbar" %>
  <div class="demo">

    <div class="container email-container text-center">

      <div class="email-message">
        <% if @email_content.nil? %>
          <div class="empty-mail-logo"><i class="far fa-envelope-open"></i></div>
          <div class="empty-mail-message">
            <p>Pour rajouter automatiquement ta dernière liste de course online, forward ton email
          récapitulatif de ta commande à l'adresse suivante : <strong>monfrigo@frigoricetta.com</strong></p>
          </div>
        <% else %>
          <div data-user-product-id>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">

              <h4>Voici les aliments du dernier email que tu nous as forwardé !</h4>
              <p>Date d'envoi du mail : <%= @email_date %></p>
              <p>Email en provenance de : <%= @email_from %></p>
              <p>Utilisateur Frigoricetta : <%= @email_user %></p>
              <p>Nombre de produits : <%= @email_content.length %></p>
              <h5><%= link_to "Rangez les courses ?", create_from_email_path, class:"btn btn-lg btn-primary btn-frigo-index" %></h5>
            </div>
          </div>
        <% end %>
      </div>

      <% if !@email_content.nil? %>
        <div class="row">
          <% @email_content.each do |user_product| %>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="card">

                <h4><%= user_product %></h4>

                <div class="card-menu">

                  <%= link_to user_product_path(user_product), method: :delete, remote: true do %>
                  <%= icon("fas", 'trash-alt') %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
