<div class="wrapper-index">
  <%= render "shared/side_navbar" %>
  <div class="demo">

        <% if @email_content.nil? %>

          <div class="container no-email-container text-center">
            <div class="no-email-message">
              <div class="empty-mail-logo"><i class="far fa-envelope-open"></i></div>
              <div class="empty-mail-message">
                <p>Pour rajouter automatiquement ta dernière liste de course online, transfère ton email
              récapitulatif de ta commande à l'adresse suivante : <strong>monfrigo@frigoricetta.com</strong></p>
              </div>
             </div>
          </div>

        <% else %>

          <div class="width-80-pourcent">
            <div class="row">
              <div class="col-xs-12">
                <div class="container-email-with-item text-center">
                  <div class="email-message">
                    <br>
                    <br>
                    <h3>Voici les produits du dernier email reçu !</h3>
                    <p><i class="fas fa-calendar-alt"></i> : <%= @email_date %></p>
                    <p><i class="far fa-envelope"></i> : <%= @email_from %></p>
                    <p><%= @email_content.length %> produits</p>
                    <h5><%= link_to "Rangez les courses ?", create_from_email_path, class:"btn btn-frigo-index" %></h5>
                  </div>
                </div>
             </div>
              <br>
              <br>
                <div class="col-xs-12">
                    <% @email_content.each do |user_product| %>
                      <div class="card-email">
                        <h4><%= user_product %></h4>
                      </div>
                    <% end %>
                </div>
            </div>
          </div>

        <% end %>
  </div>
</div>
