<div class="banner-index text-center">
  <h1>Hi, <%= current_user.email %></h1>
</div>
<div class="index-happy-line index-happy-line-background"></div>





<!-- <div class="container text-center">
  <p>Find me in app/views/user_products/index.html.erb</p>
  <%= link_to "Add a product", new_user_product_path, class:"btn btn-primary btn-lg btn-frigo" %>
</div>


<ul>
  <% @user_products.each do |user_product| %>
  <li>Name: <%= link_to user_product.product.name, edit_user_product_path(user_product.id) %></li>
  <li><%= link_to "Delete", user_product_path(user_product), method: :delete,
      data: { confirm: "Are you sure?" } %></li>

  <li>Location: <%= user_product.place %></li>
  <li>Peremption date: <%= user_product.peremption_date %></li>
  <br>
  <% end %>
</ul> -->
<%= form_tag user_products_path, method: :get do%>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholde: "Trouver un aliment"
   %>
<% end %>

<div class="container index-container text-center">
  <h5><%= link_to "Ajouter un aliment", new_user_product_path, class:"btn btn-lg btn-primary btn-frigo" %></h5>
  <div class="row">
    <% @user_products.each do |user_product| %>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card">
        <h4><%= user_product.product.name%></h4>
        <p>location <%= user_product.place%></p>
        <p>Peremption date: <%= user_product.peremption_date %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
