<div class="wrapper-index">

  <%= render "shared/side_navbar" %>
  <div class="demo">

    <div class="container text-center index-header">
      <div class="header-hi">
        <h4>Salut, <%= @user.name %></h4>

        <% if @user_products.all.length > 0 && (@user_products.order(:peremption_date).first.peremption_date - Date.today).to_i < 2 %>
            <h1><%= @user_products.count %> produits dans ta cuisine</h4>
            <h4>Il semblerait que <%= @user_products.order(:peremption_date).first.product.name%> va bientôt périmer !</h4>
            <h3>Tu as <%= @user_products.count %> produits dans ta cuisine</h3>
            <h5>Let's cook it !</h5>
        <% else %>
            <h1>Ma cuisine</h1>
            <h4>Tu as <strong><%= @user_products.count %></strong> produits dans ta cuisine</h4>
        <% end %>

      </div>
    </div>

    <div class="index-container">

      <div class="row">
        <% @user_products.order(:peremption_date).each_with_index do |user_product, index| %>
          <div data-user-product-id="<%= user_product.id %>">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="card" data-date="<%= user_product.id %>">

                  <% if user_product.product.category.SubCategory == "LEGUMES" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:LEGUMES]  %>

                  <% elsif user_product.product.category.SubCategory == "CHARCUTERIE" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:CHARCUTERIE]  %>

                  <% elsif user_product.product.category.SubCategory  == "SURGELES" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:SURGELES]  %>

                  <% elsif user_product.product.category.SubCategory  == "LIQUIDES" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:LIQUIDES]  %>

                  <% elsif user_product.product.category.SubCategory  == "BIO" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:BIO]  %>

                  <% elsif user_product.product.category.SubCategory  == "PLATS CUISINES" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:PLATSCUISINES]  %>

                  <% elsif user_product.product.category.SubCategory  == "GLACES" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:GLACES]  %>

                  <% elsif user_product.product.category.SubCategory  == "EPICERIE SALE" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:EPICERIESALE]  %>

                  <% elsif user_product.product.category.SubCategory == "EPICERIE SUCREE" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:EPICERIESUCREE]  %>

                  <% elsif user_product.product.category.SubCategory  == "CREMERIE" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:CREMERIE]  %>

                  <% elsif user_product.product.category.SubCategory  == "TRAITEUR" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:TRAITEUR]  %>

                  <% elsif user_product.product.category.SubCategory  == "PAINS & PATISSERIE" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:PAINSPATISSERIE]  %>

                  <% elsif user_product.product.category.SubCategory == "CONSERVES" %>

                  <%= render 'iconcard', iconurl: Category::IMAGECATEGORY[:CONSERVES]  %>

                  <% else %>
                  <div class="food-icon" style="padding:15px;">
                    <div style="background-image: url('https://images.vexels.com/media/users/3/143184/isolated/preview/c49a020b741b311e328cb3184943c3ac-meat-icon-beef-fish-by-vexels.png'); width:50px; height:50px; background-size: 50px 50px;opacity: 0.5; margin-top: 10px; margin-left: 5px;"></div>
                  </div>

                  <% end %>

                <div style="width: 500px;">



                  <h4><%= user_product.product.name.capitalize.first(35) %></h4>
                  <p>Ajouté il y a
                    <% if (Date.today - user_product.purchase_date).to_i > 1 %>
                      <%= (Date.today - user_product.purchase_date).to_i %> jours
                    <% else %>
                      <%= (Date.today - user_product.purchase_date).to_i %> jour
                    <% end %>
                  </p>
                </div>








                <div class="card-menu">

                  <button type="button" class="btn-neutre fas fa-edit font25 light-green" data-toggle="modal" data-target="#test<%= index %>">
                  </button>


                  <div class="modal fade" id="test<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Modifier</h4>
                        </div>
                        <div class="modal-body">
                          <%= render "edit", user_product: user_product %>
                        </div>
                      </div>
                    </div>
                  </div>



                  <%= link_to user_product_path(user_product), method: :delete, remote: true do %>
                  <%= icon("fas", 'trash-alt') %>
                  <% end %>

                </div>
              </div>



            <% if (user_product.peremption_date.nil?) %>
              <script>
                document.querySelector("[data-date='<%= user_product.id %>']").style.borderLeft = "6px solid black";
              </script>
            <% elsif (user_product.peremption_date - Date.today).to_i < 4 %>
              <script>
                document.querySelector("[data-date='<%= user_product.id %>']").style.borderLeft = "6px solid #e94f37";
              </script>
            <% elsif (user_product.peremption_date - Date.today).to_i  > 4 && (user_product.peremption_date - Date.today).to_i < 8 %>
              <script>
                document.querySelector("[data-date='<%= user_product.id %>']").style.borderLeft = "6px solid orange";
              </script>
            <% else %>
              <script>
                document.querySelector("[data-date='<%= user_product.id %>']").style.borderLeft = "6px solid green";
              </script>
            <% end %>


            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>







