<!-- <div class="banner-index text-center">
  <h1>Hi, <%#= current_user.email %></h1>
</div>
<div class="index-happy-line index-happy-line-background"></div>
-->

<br>
<br>

<div class="header">
  <h1>Hi, Clara</h1>
</div>

<section>

  <div class="container index-container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
       <%= form_tag user_products_path, method: :get do%>
       <%= text_field_tag :query,
       params[:query],
       class: "form-control",
         placeholder: "Trouver un aliment"
         %>
         <% end %>
       </div>


    <div class="two-btn-container">

       <%= link_to "Ajouter un aliment", new_user_product_path, class:"btn btn-lg btn-primary btn-frigo" %>

       <%= link_to "Mon dernier email", user_products_email_path, class:"btn btn-lg btn-primary btn-frigo" %>

    </div>


   <div class="row">
    <% @user_products.each do |user_product| %>





    <div data-user-product-id="<%= user_product.id %>">

      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="card" data-date="<%= user_product.id %>">

          <div>
            <h4><%= user_product.product.name.capitalize %></h4>
            <p>Ajouté il y a <%= (Date.today - user_product.purchase_date).to_i %> jour(s).</p>
          </div>
          <div class="card-menu">
            <%= link_to user_products_path, method: :get do %>
            <%= icon("fas", 'edit') %>
            <% end %>
            <%= link_to user_product_path(user_product), method: :delete, remote: true do %>
            <%= icon("fas", 'trash-alt') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if (user_product.peremption_date - Date.today).to_i < 1 %>
    <script>
      document.querySelector("[data-date='<%= user_product.id %>']").style.borderLeft = "6px solid red";
    </script>
    <% elsif (user_product.peremption_date - Date.today).to_i  == 1 || (user_product.peremption_date - Date.today).to_i < 3 %>
    <script>
      document.querySelector("[data-date='<%= user_product.id %>']").style.borderLeft = "6px solid orange";
    </script>
    <% else %>
    <script>
      document.querySelector("[data-date='<%= user_product.id %>']").style.borderLeft = "6px solid green";
    </script>
    <% end %>





    <% end %>
  </div>
  </div>
</section>








