<div class="banner-index text-center">
  <h1>Hi, <%= current_user.email %></h1>
</div>
<div class="index-happy-line index-happy-line-background"></div>



<div class="container index-container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
     <%= form_tag user_products_path, method: :get do%>
       <%= text_field_tag :query,
         params[:query],
         class: "form-control",
         placeholde: "Trouver un aliment"
        %>
     <% end %>
    </div>
  </div>
  <h5><%= link_to "Ajouter un aliment", new_user_product_path, class:"btn btn-lg btn-primary btn-frigo" %></h5>
  <div class="row">
    <% @user_products.each do |user_product| %>
      <div data-user-product-id="<%= user_product.id %>">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="card">

            <div>
              <h4><%= user_product.product.name%></h4>
            <p>Ajouté le: <%= user_product.purchase_date %></p>
            </div>
            <div class="card-menu">



              <%= link_to user_product_path(user_product), method: :patch do %>
                <%= icon("fas", 'edit') %>
              <% end %>
              <%= link_to user_product_path(user_product), method: :delete, remote: true do %>
                    <%= icon("fas", 'trash-alt') %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>







