<div class="container form-sign-in">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <br>
      <h2>Créer un compte</h2>
      <br>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      placeholder: 'sophie@domain.com',
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "email" ,class: "input-light"}%>
          <%= f.input :name,
                      placeholder: 'Sophie',
                      required: true,
                      label: 'Nom',
                      input_html: { autocomplete: "name" ,class: "input-light"}%>
          <%= f.input :password,
                      required: true,
                      placeholder: '*********',
                      label: 'Mot de passe',
                      hint: ("#{@minimum_password_length} caratères minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password",class: "input-light" } %>
          <%= f.input :password_confirmation,
                      label: 'Confirmation du mot de passe',
                      required: true,
                      input_html: { autocomplete: "new-password",class: "input-light" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "C'est parti !", class:"btn-frigo btn-form" %>
        </div>
      <% end %>
      <br>
      <div class="text-center">

      <%= render "devise/shared/links" %>

      <br>

      </div>

    </div>
  </div>
</div>
