<div class="navbar-wagon navbar-fixed-top <%= "navbar-wagon-white" unless params[:action] == "home" %>">




<!-- NAVIGATION ON DESKTOP -->

  <% if user_signed_in? %>

  <!-- Left Navigation -->
    <div class="navbar-wagon-left hidden-xs hidden-sm">

      <!-- Links when logged in -->
      <h3><%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
            <i class="fas fa-user-circle"></i>
          <% end %>
      </h3>
      <h3><%= link_to "Mon frigo", user_products_path, class: "navbar-wagon-item navbar-wagon-link" %></h3>
      <h3><%= link_to "Recettes", recette_path, class: "navbar-wagon-item navbar-wagon-link" %></h3>
    </div>

    <!-- TITLE IN ZE MIDDLE -->
   <!--  <div class="navbar-wagon-middle">
      <h2 class="hidden">FrigoRicetta</h2>
    </div> -->

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <h3><%= link_to destroy_user_session_path, method: :delete  do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </h3>
    </div>

  <% else %>
    <!-- Login link (when logged out) -->
    <h3><%= link_to "Accueil", root_path, class: "navbar-wagon-item navbar-wagon-link" %></h3>
    <div class="navbar-wagon-right navbar-wagon-not-sign-in hidden-xs hidden-sm">
      <h3><%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></h3>
      <h3><%= link_to t(".sign_up", default: "Créer un compte"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></h3>
    </div>

  <% end %>


      <!-- Avatar with dropdown menu -->
  <!--     <div class="navbar-wagon-item">
        <div class="dropdown">
          <%#= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <#%= link_to "#" do %>
                <i class="fa fa-user"></i> <%#= t(".profile", default: "Profile") %>
              <%# end %>
            </li>
            <li>
              <%#= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%#= t(".settings", default: "Settings") %>
              <%# end %>
            </li>
          </ul>
        </div>
      </div> -->



    <!-- NAVIGATION ON MOBILE -->


      <% if user_signed_in? %>

    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu navbar-wagon-dropdown-menu text-center">
          <h1 class="text-center">FrigoRicetta</h1>
          <br>
          <li><%= link_to "Mon frigo", user_products_path %></li>
          <li><%= link_to "Recettes", recette_path %></li>
          <li><%= link_to "Accueil", root_path %></li>
          <li><a href="#">Mon compte</a></li>
          <li><a href="#">Se déconnecter</a></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "S déconnecter") %>
        <% end %></li>
        </ul>
      </div>
    </div>

  <% else %>


   <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu navbar-wagon-dropdown-menu text-center">
          <h1 class="text-center dropdown-font">FrigoRicetta</h1>
          <br>
          <li><%= link_to "Accueil", root_path %></li>
          <li><%= link_to t(".sign_in", default: "Se connecter"), '#', class: "navbar-wagon-item navbar-wagon-link", "data-toggle" => "modal", "data-target" =>"#login"%></li>
          <li><%= link_to t(".sign_up", default: "Créer un compte"), '#', class: "navbar-wagon-item navbar-wagon-link", "data-toggle" => "modal", "data-target" =>"#signup"%></li>

        </ul>
      </div>
    </div>

    <% end %>



</div>
<%= render "shared/login_form" %>
