<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %> -->

  <% if user_signed_in? %>

  <!-- Left Navigation -->
    <div class="navbar-wagon-left hidden-xs hidden-sm">

      <!-- Links when logged in -->
      <h3><%= link_to "Fridge", "#", class: "navbar-wagon-item navbar-wagon-link" %></h3>
      <h3><%= link_to "Recipes", "#", class: "navbar-wagon-item navbar-wagon-link" %></h3>
    </div>

    <!-- TITLE IN ZE MIDDLE -->
   <!--  <div class="navbar-wagon-middle">
      <h2 class="hidden">FrigoRicetta</h2>
    </div> -->

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <h3><%= link_to "Account", "#", class: "navbar-wagon-item navbar-wagon-link" %></h3>
      <h3>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </h3>
    </div>

  <% else %>
    <!-- Login link (when logged out) -->
    <div class="navbar-wagon-right navbar-wagon-not-sign-in hidden-xs hidden-sm">
      <h3><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></h3>
      <h3><%= link_to t(".sign_up", default: "Sign up"), '#', class: "navbar-wagon-item navbar-wagon-link", "data-toggle" => "modal", "data-target" =>"#myModal"%></h3>
    </div>

  <% end %>


      <!-- Avatar with dropdown menu -->
  <!--     <div class="navbar-wagon-item">
        <div class="dropdown">
          <%#= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <#%= link_to "#" do %>
                <i class="fa fa-user"></i> <%#= t(".profile", default: "Profile") %>
              <%# end %>
            </li>
            <li>
              <%#= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%#= t(".settings", default: "Settings") %>
              <%# end %>
            </li>
          </ul>
        </div>
      </div> -->

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>

</div>
<%= render "shared/login_form" %>
