<!--    sidebar starts-->
<div id="mySidenav" class="sidenav">
  <div id="sidenav-title">
    <h3><%= link_to "Frigoricetta", root_path %></h3>
    <h4>Bonjour, <%= current_user.name.capitalize %></h4>
  </div>



  <div class="sidenav-content">
    <ul class="sidenav-content-menu positionrelative">
      <li>
      <%= link_to user_products_path , class: "ma-cuisine"  do %>
        <i class="fas fa-snowflake"></i> Mon Frigo
      <% end %>
      </li>


      <li>
      <%= link_to new_user_product_path , class: "ma-cuisine", data: {toggle: "modal", target: "#add-aliment"}   do %>
        <i class="fas fa-plus-circle"></i> Aliment
      <% end %>
      </li>

      <li>
      <%= link_to user_products_email_path , class: "ma-cuisine" do %>
        <i class="fas fa-upload"></i> liste de courses
      <% if InboundEmail.where(user: current_user).count > 0 %>
            <p class="email-notif rightnotif" id="ical" >
                <i class="fas fa-envelope-open"></i>
            </p>
          <% end %>
        <% end %>
      </li>

      <li>
          <a id="mes-recettes" href="/pages/recettes" class="ma-cuisine"><i class="fas fa-book-open"></i> Recettes
            <b id="parenthese-open" class="hide-parentheses">( </b>
            <b id="recette-count" class="hide-parentheses"><%= UserProduct.where(selected: true).count %> </b>
            <b id="recette-icon" class="fas fa-utensils hide-parentheses"></b>
            <b id="parenthese-closed" class="hide-parentheses"> )</b>
          </a>
      </li>

    </ul>
  </div>
  <div class="sidenav-general">
    <div class="sidenav-profil"><h5>
 <!--      <i class="fas fa-user-circle"></i> -->

      <%= link_to  "#" do %>
        <i class="fas fa-user-circle"></i>
      <% end %>

    </h5></div>

    <div class="sidenav-logout">
      <h5>
        <%= link_to destroy_user_session_path, method: :delete  do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </h5>
    </div>

  </div>
</div>

<!--    sidebar ends-->

<!-- modal new-aliment -->
<div class="modal fade" id="add-aliment" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter un aliment</h4>
      </div>
      <div class="modal-body">
        <%= render "user_products/new", user_products: @user_products %>
      </div>
    </div>
  </div>
</div>

<!-- new aliment ends -->
