<div class="wrapper-index">

  <%= render "shared/side_navbar" %>

  <div class="demo">

    <div class="container text-center index-header">
      <div class="header-hi">
        <br>
        <h1>Recettes suggérées</h1>
        <h4>en utilisant les produits suivants qui périment bientôt: </h4>
        <%  @userproducts.each do |item| %>
          <div class="etiquette btn">
            <i class="fas fa-tag"></i> <%= item.product.name %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="recipe-wrap">

      <% @array_top.each do |item| %>
        <% @letter = ('a'..'z').to_a.sample %>
        <div class="blog-card">
          <div class="meta">
            <div class="photo" style="background-image: url('<%= item[:photo] %>')"></div>

              <!-- <ul class="details">
                <li class="author"><a href="#">Tarte abricot amandine</a></li>
                <li class="date">NIVEAU DE DIFFICULTÉ :FACILE</li>
                <li class="tags">
                <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
                </li>
                </ul> -->
            </div>

            <div class="description" id="recipedescription<%= @letter %>">
              <h1><%= item[:name] %></h1>
              <h2>Niveau de difficulté :<%= item[:difficulty] %></h2>
              <p> <%= item[:description] %></p>
              <p class="read-more">
                <a data-toggle="collapse" data-target="#collapseExample<%= @letter %>" aria-expanded="false" aria-controls="collapseExample<%= @letter %>" href="#recipedescription<%= @letter %>">Voir la recette <i class="fas fa-utensils"></i></a>
              </p>
            </div>


        </div>

        <div class="collapse drop-card" id="collapseExample<%= @letter %>">
          <div>
          <h4>Préparation : <%= item[:name] %></h4>
           <p class="fullrecette"><%= item[:lesetapes].gsub(/\n/, '') %></p>
          </div>
        </div>


      <% end %>
    </div>


</div>
</div>















